package partials

templ Navbar() {
	<header class="flex flex-row  width-full justify-around">
		<a href="/"><h1>Discovery Trail</h1></a>
		<nav>
			<a href="/"><h1>Sign In</h1></a>
			<a href="/"><h1>Get Started</h1></a>
		</nav>
	</header>
}
